<html data-mdb-theme="dark">
    <head>
        <title>Facility</title>
        <style>
            p {
                text-align: center;
                justify-content: center;
            }
            h1 {
                text-align: center;
                justify-content: center;
            }
        </style>
        <meta charset="utf-8">
        <!-- MDB -->
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css"
        rel="stylesheet"
        />
    </head>
    <body>
        <h1>Welcome To the Facility Page!</h1>
        <p>This is where you can manage facility-related information.</p>
        <div class="container text-center p-4">  
            <h2>Please perform a function</h2>
            <br>  

            <div class="card p-3">
                <form method="POST">
                <h3>Return All Facilities</h3>
                <div class="row">
                    <div data-mdb-input-init class="form-outline">
                        <textarea readonly class="form-control" id="getOutput">
                            <% if (typeof getData !== 'undefined' && getData !== null) { %>
                                <%
                                  const parsedData = JSON.parse(getData);
                                  for (const obj of parsedData) {
                                    if (obj.ID !== 'ID') {  
                                      %>
                                      Name: '<%= obj.name %>'
                                      Secondary ID:'<%= obj.second_id%>' 
                                      <%
                                    }
                                  }
                                %>
                              <% } %>
                        </textarea>
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <input type="submit" class="btn btn-primary" style="width: 10%" id = "getButton" value ="GET" formaction = "/facility" formmethod="post"/>
                </div>
                </form>
            </div>    
                
            <!-- POST -->
            <br>
            <div class="card p-3">
                <form id="post" method="POST">
                    <h4>Add A Facility</h4> <br>
                    <div>
                        <input type="submit" class="btn btn-primary" value="POST" formaction="/facility/post" />
                        <br> <br>
                        <input type="text" name="id_post" placeholder="Secondary ID" required>
                        <input type="text"  name="firstname_post" placeholder="Name" required>
                    </div>
                </form>
            </div>

            <!-- PUT -->
            <br>
            <div class="card p-3">
                <form id="put" method = "POST">
                    <h4>Update A Facility</h4> <br>
                    <input type="submit" class="btn btn-primary" value="PUT" formaction="/facility/put" />
                    <br> <br>
                    <input type="text" name = "id_put" placeholder = "Secondary ID" required />
                    <input type="text" name = "firstname_put" placeholder = "First Name"  />
                    <input type="text" name= "lastname_put" placeholder = "Last Name"  />
                    <input type="text" name= "room_id_put" placeholder = "Room Letter"  />
                </form>
            </div>

            <!-- DELETE -->
            <br>
            <div id="del" class="card p-3">
                <form method = "POST">
                    <h4>Remove A Facility From A Classroom</h4> <br>
                    <input type="submit" class="btn btn-primary" value="DELETE" formaction="/facility/delete" />
                    <br> <br>
                    <input type="text" name = "ID_delete" placeholder = "Teacher Secondary ID" required/>
                </form>
                
        </div>
        

        <!-- MDB -->
        <script>
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"
        </script>
    </body>
</html>