<html data-mdb-theme="dark">
    <head>
        <title>Teacher</title>
        <style>
            p {
                text-align: center;
                justify-content: center;
            }
            h1 {
                text-align: center;
                justify-content: center;
            }

            .output-box {
                background-color: #f0f0f0;
                padding: 10px;
                border-radius: 5px;
                flex-grow: 1;
                display: flex;
                justify-content: center;
                margin-left: 20px;
                height: 200px;
                width: 500px;
            }

            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f0f0f0;
                }
            
            .output-box {
                padding-left: 100%;
            }
        </style>
        <meta charset="utf-8">
        <!-- MDB -->
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css"
        rel="stylesheet"
        />
    </head>
    <body>
        <h1>Welcome To the Teacher Page!</h1>
        <p>This is where you can manage teacher-related information.</p>
        <div class="container text-center p-4">  
            <h2>Please perform a function</h2>
            <br>  

            <div class="card p-3">
                <form method="POST">
                    <h3>Return Teachers in a Specific Classroom</h3>
                    <div class="row">
                        <div data-mdb-input-init class="form-outline">
                            <input type="number" id="room_id" name="room_id" class="form-control bg-dark" required/>
                            <label class="form-label ms-2" for="room_id" >Room ID</label>
                        </div>
                    </div>
                <br>
                <div class="row">
                    <div data-mdb-input-init class="form-outline">
                        <textarea readonly class="form-control" id="getOutput">
                            <% if(getData != null) { %>
                                <%= getData %>
                            <% } %>
                        </textarea>
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <input type="submit" class="btn btn-primary" style="width: 10%" id = "getButton" value ="GET" formaction = "/teacher" />
                </div>
                    <div class = "output-box"></div>
                </form>
                <form method = "POST">
                    <input type="submit" class="btn btn-primary" value="POST" formaction="/teacher/post"></input>
                    <input type="text" placeholder = "Room">
                    <input type="text" placeholder = "First Name">
                    <input type="text" placeholder= "Last Name">
                    <div class = "output-box" class = "output-box"></div>
                </form>
            </div>
            <br>
            <div class="d-flex justify-content-around">
                <form method = "PUT">
                    <input type="submit" class="btn btn-primary" value="PUT" formaction="/teacher/put"></input>
                    <input type="text" placeholder = "ID">
                    <input type="text" placeholder = "First Name">
                    <input type="text" placeholder= "Last Name">
                    <input type="text" placeholder= "Room">
                    <div class = "output-box" class = "output-box"></div>
                </form>
            </div>
            <br>
            <div class="d-flex justify-content-around">
                <form method = "DELETE">
                    <input type="submit" class="btn btn-primary" value="DELETE" formaction="/teacher/delete"></input>
                    <input type="text" placeholder = "ID">
                    <div class = "output-box"></div>
                </form>
        </div>
        

        <!-- MDB -->
        <script>
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"
        </script>
    </body>
</html>