<html data-mdb-theme="dark">
    <head>
        <title>Express and EJS integration</title>
        <style>
            p {
                text-align: center;
                justify-content: center;
            }
            h1 {
                text-align: center;
                justify-content: center;
            }
        </style>
        <meta charset="utf-8">
        <!-- MDB -->
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css"
        rel="stylesheet"
        />
    </head>
    <body>
        <h1>Welcome To the Teacher Page!</h1>
        <p>This is where you can manage teacher-related information.</p>
        <div class="container text-center p-4">  
            <h2>Please choose a function</h2>
            <br>  
            <div class="d-flex justify-content-around">
                <form method="POST">
                    <input type="submit" class="btn btn-primary" id = "getButton" value ="GET" formaction = "/teacher/get"></input>
                </form>
                <form method = "POST">
                    <input type="submit" class="btn btn-primary" value="POST" formaction="/teacher/post"></input>
                </form>
                <form method = "PUT">
                    <input type="submit" class="btn btn-primary" value="PUT" formaction="/teacher/put"></input>
                </form>
                <form method = "DELETE">
                    <input type="submit" class="btn btn-primary" value="DELETE" formaction="/teacher/delete"></input>
                </form>
            </div>
        </div>
        

        <!-- MDB -->
        <script>
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"
        </script>
    </body>
</html>