<html data-mdb-theme="dark">
    <head>
        <title>Express and EJS integration</title>
        <meta charset="utf-8">
        <!-- MDB -->
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css"
        rel="stylesheet"
        />
    </head>
    <body>
        <div class="container text-center">    
            <div class="container-fluid">
                <h1>Please select a table to modify</h1>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" data-url="/facility">Facility</button>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- MDB -->
        <script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"
        ></script>
    </body>
</html>